# Compiler artifacts
*.o
*.a
*.dylib
*.dylib.*
*.so
*.so.*
*.dSYM

# Test by-products
*.db
*.out
*.tmp

dynamicmaps.cf.*

# Makefiles are generated, the top-level Makefile is a copy of
# Makefile.init, included in the release, but need not be versioned.
Makefile

# Staged files
/postfix/lib/*
/postfix/bin/*
/postfix/libexec/*
/postfix/include/*
/postfix/man/cat1/*
/postfix/man/cat5/*
/postfix/man/cat8/*
/postfix/meta/*

# Except .keep files
!/postfix/lib/.keep
!/postfix/bin/.keep
!/postfix/libexec/.keep
!/postfix/include/.keep
!/postfix/man/cat1/.keep
!/postfix/man/cat5/.keep
!/postfix/man/cat8/.keep
!/postfix/meta/.keep

# Compiled executables
/postfix/src/anvil/anvil
/postfix/src/bounce/bounce
/postfix/src/cleanup/cleanup
/postfix/src/discard/discard
/postfix/src/dnsblog/dnsblog
/postfix/src/error/error
/postfix/src/flush/flush
/postfix/src/fsstone/fsstone
/postfix/src/local/local
/postfix/src/master/master
/postfix/src/oqmgr/qmgr
/postfix/src/pickup/pickup
/postfix/src/pipe/pipe
/postfix/src/postalias/postalias
/postfix/src/postcat/postcat
/postfix/src/postconf/postconf
/postfix/src/postdrop/postdrop
/postfix/src/postfix/postfix
/postfix/src/postkick/postkick
/postfix/src/postlock/postlock
/postfix/src/postlog/postlog
/postfix/src/postlogd/postlogd
/postfix/src/postmap/postmap
/postfix/src/postmulti/postmulti
/postfix/src/postqueue/postqueue
/postfix/src/postscreen/postscreen
/postfix/src/postsuper/postsuper
/postfix/src/posttls-finger/posttls-finger
/postfix/src/proxymap/proxymap
/postfix/src/qmgr/qmgr
/postfix/src/qmqpd/qmqpd
/postfix/src/scache/scache
/postfix/src/sendmail/sendmail
/postfix/src/showq/showq
/postfix/src/smtp/smtp
/postfix/src/smtpd/smtpd
/postfix/src/smtpstone/smtp-source
/postfix/src/smtpstone/smtp-sink
/postfix/src/smtpstone/qmqp-source
/postfix/src/smtpstone/qmqp-sink
/postfix/src/spawn/spawn
/postfix/src/tlsmgr/tlsmgr
/postfix/src/tlsproxy/tlsproxy
/postfix/src/trivial-rewrite/trivial-rewrite
/postfix/src/verify/verify
/postfix/src/virtual/virtual

# Generated default configs
/postfix/conf/bounce.cf.default
/postfix/conf/main.cf.default

# Generated parameter headers for postconf
/postfix/src/postconf/bool_table.h
/postfix/src/postconf/bool_vars.h
/postfix/src/postconf/int_table.h
/postfix/src/postconf/int_vars.h
/postfix/src/postconf/long_table.h
/postfix/src/postconf/long_vars.h
/postfix/src/postconf/nbool_table.h
/postfix/src/postconf/nbool_vars.h
/postfix/src/postconf/nint_table.h
/postfix/src/postconf/nint_vars.h
/postfix/src/postconf/pcf_*_suffixes.h
/postfix/src/postconf/raw_table.h
/postfix/src/postconf/raw_vars.h
/postfix/src/postconf/str_fn_table.h
/postfix/src/postconf/str_fn_vars.h
/postfix/src/postconf/str_table.h
/postfix/src/postconf/str_vars.h
/postfix/src/postconf/time_table.h
/postfix/src/postconf/time_vars.h
# Sentinel
/postfix/src/postconf/makes_dummy

# Test programs
/postfix/src/cleanup/cleanup_masquerade
/postfix/src/cleanup/cleanup_milter
/postfix/src/dns/dns_rr_eq_sa
/postfix/src/dns/dns_rr_to_pa
/postfix/src/dns/dns_rr_to_sa
/postfix/src/dns/dns_sa_to_rr
/postfix/src/dns/test_dns_lookup
/postfix/src/global/addr_match_list
/postfix/src/global/anvil_clnt
/postfix/src/global/data_redirect
/postfix/src/global/domain_list
/postfix/src/global/dot_lockfile
/postfix/src/global/ehlo_mask
/postfix/src/global/header_body_checks
/postfix/src/global/mail_addr_crunch
/postfix/src/global/mail_addr_find
/postfix/src/global/mail_addr_map
/postfix/src/global/mail_conf_time
/postfix/src/global/mail_date
/postfix/src/global/mail_dict
/postfix/src/global/mail_version
/postfix/src/global/maps
/postfix/src/global/mime_state
/postfix/src/global/mynetworks
/postfix/src/global/mypwd
/postfix/src/global/namadr_list
/postfix/src/global/off_cvt
/postfix/src/global/own_inet_addr
/postfix/src/global/quote_821_local
/postfix/src/global/quote_822_local
/postfix/src/global/rec2stream
/postfix/src/global/recdump
/postfix/src/global/resolve_clnt
/postfix/src/global/resolve_local
/postfix/src/global/rewrite_clnt
/postfix/src/global/safe_ultostr
/postfix/src/global/scache
/postfix/src/global/server_acl
/postfix/src/global/stream2rec
/postfix/src/global/string_list
/postfix/src/global/strip_addr
/postfix/src/global/tok822_parse
/postfix/src/global/valid_mailhost_addr
/postfix/src/global/verify_clnt
/postfix/src/global/verify_sender_addr
/postfix/src/global/xtext
/postfix/src/milter/milter
/postfix/src/milter/test-milter
/postfix/src/smtp/smtp_map11
/postfix/src/smtp/smtp_unalias
/postfix/src/smtpd/smtpd_check
/postfix/src/smtpd/smtpd_token
/postfix/src/tls/tls_dh
/postfix/src/tls/tls_mgr
/postfix/src/util/attr_print0
/postfix/src/util/attr_print64
/postfix/src/util/attr_print_plain
/postfix/src/util/attr_scan0
/postfix/src/util/attr_scan64
/postfix/src/util/attr_scan_plain
/postfix/src/util/base32_code
/postfix/src/util/base64_code
/postfix/src/util/ctable
/postfix/src/util/dict_open
/postfix/src/util/dict_pipe_test
/postfix/src/util/dict_union_test
/postfix/src/util/doze
/postfix/src/util/dup2_pass_on_exec
/postfix/src/util/events
/postfix/src/util/exec_command
/postfix/src/util/fifo_open
/postfix/src/util/fifo_rdonly_bug
/postfix/src/util/fifo_rdwr_bug
/postfix/src/util/fifo_trigger
/postfix/src/util/format_tv
/postfix/src/util/fsspace
/postfix/src/util/fullname
/postfix/src/util/hex_code
/postfix/src/util/hex_quote
/postfix/src/util/host_port
/postfix/src/util/htable
/postfix/src/util/inet_addr_host
/postfix/src/util/inet_addr_list
/postfix/src/util/inet_addr_local
/postfix/src/util/inet_proto
/postfix/src/util/ip_match
/postfix/src/util/mac_expand
/postfix/src/util/mac_parse
/postfix/src/util/make_dirs
/postfix/src/util/msg_rate_delay
/postfix/src/util/msg_syslog
/postfix/src/util/myaddrinfo
/postfix/src/util/myaddrinfo4
/postfix/src/util/mystrtok
/postfix/src/util/name_mask
/postfix/src/util/netstring
/postfix/src/util/rand_sleep
/postfix/src/util/sane_basename
/postfix/src/util/sane_time
/postfix/src/util/select_bug
/postfix/src/util/sigdelay
/postfix/src/util/stream_recv_fd
/postfix/src/util/stream_send_fd
/postfix/src/util/stream_test
/postfix/src/util/translit
/postfix/src/util/unescape
/postfix/src/util/unix_recv_fd
/postfix/src/util/unix_send_fd
/postfix/src/util/valid_hostname
/postfix/src/util/valid_utf_8
/postfix/src/util/vstream
/postfix/src/util/vstream_popen
/postfix/src/util/vstring
/postfix/src/util/vstring_vstream
/postfix/src/util/watchdog
