# Compiler artifacts
*.o
*.a
*.dylib
*.dylib.*
*.so
*.so.*
*.dSYM

# Test by-products
*.db
*.out
*.tmp

dynamicmaps.cf.*

# Makefiles are generated, the top-level Makefile is a copy of
# Makefile.init, included in the release, but need not be versioned.
Makefile

# Staged files
/lib/*
/bin/*
/libexec/*
/include/*
/man/cat1/*
/man/cat5/*
/man/cat8/*
/meta/*

# Except .keep files
!/lib/.keep
!/bin/.keep
!/libexec/.keep
!/include/.keep
!/man/cat1/.keep
!/man/cat5/.keep
!/man/cat8/.keep
!/meta/.keep

# Compiled executables
/src/anvil/anvil
/src/bounce/bounce
/src/cleanup/cleanup
/src/discard/discard
/src/dnsblog/dnsblog
/src/error/error
/src/flush/flush
/src/fsstone/fsstone
/src/local/local
/src/master/master
/src/oqmgr/qmgr
/src/pickup/pickup
/src/pipe/pipe
/src/postalias/postalias
/src/postcat/postcat
/src/postconf/postconf
/src/postdrop/postdrop
/src/postfix/postfix
/src/postkick/postkick
/src/postlock/postlock
/src/postlog/postlog
/src/postmap/postmap
/src/postmulti/postmulti
/src/postqueue/postqueue
/src/postscreen/postscreen
/src/postsuper/postsuper
/src/posttls-finger/posttls-finger
/src/proxymap/proxymap
/src/qmgr/qmgr
/src/qmqpd/qmqpd
/src/scache/scache
/src/sendmail/sendmail
/src/showq/showq
/src/smtp/smtp
/src/smtpd/smtpd
/src/smtpstone/smtp-source
/src/smtpstone/smtp-sink
/src/smtpstone/qmqp-source
/src/smtpstone/qmqp-sink
/src/spawn/spawn
/src/tlsmgr/tlsmgr
/src/tlsproxy/tlsproxy
/src/trivial-rewrite/trivial-rewrite
/src/verify/verify
/src/virtual/virtual

# Generated default configs
/conf/bounce.cf.default
/conf/main.cf.default

# Generated parameter headers for postconf
/src/postconf/bool_table.h
/src/postconf/bool_vars.h
/src/postconf/int_table.h
/src/postconf/int_vars.h
/src/postconf/long_table.h
/src/postconf/long_vars.h
/src/postconf/nbool_table.h
/src/postconf/nbool_vars.h
/src/postconf/nint_table.h
/src/postconf/nint_vars.h
/src/postconf/raw_table.h
/src/postconf/raw_vars.h
/src/postconf/str_fn_table.h
/src/postconf/str_fn_vars.h
/src/postconf/str_table.h
/src/postconf/str_vars.h
/src/postconf/time_table.h
/src/postconf/time_vars.h
# Sentinel
/src/postconf/makes_dummy

# Test programs
/src/cleanup/cleanup_masquerade
/src/cleanup/cleanup_milter
/src/dns/dns_rr_eq_sa
/src/dns/dns_rr_to_pa
/src/dns/dns_rr_to_sa
/src/dns/dns_sa_to_rr
/src/dns/test_dns_lookup
/src/global/addr_match_list
/src/global/anvil_clnt
/src/global/data_redirect
/src/global/domain_list
/src/global/dot_lockfile
/src/global/ehlo_mask
/src/global/header_body_checks
/src/global/mail_addr_crunch
/src/global/mail_addr_find
/src/global/mail_addr_map
/src/global/mail_conf_time
/src/global/mail_date
/src/global/mail_dict
/src/global/mail_version
/src/global/maps
/src/global/mime_state
/src/global/mynetworks
/src/global/mypwd
/src/global/namadr_list
/src/global/off_cvt
/src/global/own_inet_addr
/src/global/quote_821_local
/src/global/quote_822_local
/src/global/rec2stream
/src/global/recdump
/src/global/resolve_clnt
/src/global/resolve_local
/src/global/rewrite_clnt
/src/global/safe_ultostr
/src/global/scache
/src/global/server_acl
/src/global/stream2rec
/src/global/string_list
/src/global/strip_addr
/src/global/tok822_parse
/src/global/valid_mailhost_addr
/src/global/verify_clnt
/src/global/verify_sender_addr
/src/global/xtext
/src/milter/milter
/src/milter/test-milter
/src/smtp/smtp_map11
/src/smtp/smtp_unalias
/src/smtpd/smtpd_check
/src/smtpd/smtpd_token
/src/tls/tls_dh
/src/tls/tls_mgr
/src/util/attr_print0
/src/util/attr_print64
/src/util/attr_print_plain
/src/util/attr_scan0
/src/util/attr_scan64
/src/util/attr_scan_plain
/src/util/base32_code
/src/util/base64_code
/src/util/ctable
/src/util/dict_open
/src/util/doze
/src/util/dup2_pass_on_exec
/src/util/events
/src/util/exec_command
/src/util/fifo_open
/src/util/fifo_rdonly_bug
/src/util/fifo_rdwr_bug
/src/util/fifo_trigger
/src/util/format_tv
/src/util/fsspace
/src/util/fullname
/src/util/hex_code
/src/util/hex_quote
/src/util/host_port
/src/util/htable
/src/util/inet_addr_host
/src/util/inet_addr_list
/src/util/inet_addr_local
/src/util/inet_proto
/src/util/ip_match
/src/util/mac_expand
/src/util/mac_parse
/src/util/make_dirs
/src/util/msg_rate_delay
/src/util/msg_syslog
/src/util/myaddrinfo
/src/util/myaddrinfo4
/src/util/mystrtok
/src/util/name_mask
/src/util/netstring
/src/util/rand_sleep
/src/util/sane_basename
/src/util/sane_time
/src/util/select_bug
/src/util/sigdelay
/src/util/stream_recv_fd
/src/util/stream_send_fd
/src/util/stream_test
/src/util/translit
/src/util/unescape
/src/util/unix_recv_fd
/src/util/unix_send_fd
/src/util/valid_hostname
/src/util/valid_utf_8
/src/util/vstream
/src/util/vstream_popen
/src/util/vstring
/src/util/vstring_vstream
/src/util/watchdog
